.dashboard_div {
  position: relative;
  // background: var(--text-gradient-light);
  //   .heading {
  //   }
  .modal_box{
    position: absolute;
    width: 60%;
    height: 60%;
    top: 20%;
    left: 20%;
  }

  .col_layout {
    background: var(--text-gradient-dark);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;

    border: 1px solid black;
    height: 80vh;
    .col {
      width: auto;
      border: 1px solid black;
      border-radius: 8px;
      background: #ffffff;
      .newCardBtn{
      margin: 1rem;
      }
    }
  }
}
