.dashboard_div {
  .heading{
    margin: 1rem ;
    font-size: 2rem;
    color: var(--nightShadow);
    text-align: center;
  }
  position: relative;
  .modal_box{
    position: absolute;
    top: 34%;
    left: 34%;
  }

  .col_layout {
    background: var(--text-gradient-dark);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;

    border: 1px solid black;
    height: 80vh;
    .col {
      width: auto;
      border: 1px solid black;
      border-radius: 8px;
      background: #ffffff;
      .newCardBtn{
      margin: 1rem;
      }
    }
  }
}
