.card_div {
  margin: 1rem;
  background: var(--sandTan);
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 8px;
  max-height: auto;
  cursor: pointer;
  .title_div {
    .title {
      font-size: 15px;
      margin-bottom: 0.5rem;
      text-align: center;
    }
  }
  .desc_div {
    .desc {
      font-size: 13px;
    }
  }
}
